body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

    #drum-machine {
        display: grid;
        grid-template-columns: 1fr minmax(50px, 300px);
        justify-content: center;
    
        .drum-pad {
            padding: 2em
        }
    
        #pad-wrapper {
            & > div {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 1em;
            }
        }        
        #display {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3em;
        }
    }

}

