body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(67, 87, 87);

    #hide {
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s, visibility 1s;
    }
    #show {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s, visibility 1s;
    }

    #drum-machine {
        display: grid;
        grid-template-columns: 1fr minmax(50px, 300px);
        justify-content: center;
    
        .drum-pad {
            padding: 2em
        }
    
        #pad-wrapper {
            & > div {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 1em;
            }
        }        
        #display {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3em;
        }
    }

}

@keyframes fade {
    0% { 
        opacity: 1;
        visibility: visible;
    }
    100% { 
        opacity: 0;
        visibility: hidden;
    }
}

